.card {
    border: 5px solid rgb(7, 161, 154);
    padding: 20px;
    margin: 10px;
}

.btn-delete {
    background-color: #ee5108;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    border-radius: 10%;

}